<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar item ">
  </div>

  <div class="navbar-menu ">
    <div class="navbar-end">
      {{#if logged_in}}
      <button class="navbar_item" id="logout">logout</button>
      {{else}}
      <a href="/login" class="navbar-item">LOGIN</a>
      <a href="/signup" class="navbar-item">SIGNUP</a>
      {{/if}}
    </div>
  </div>
</nav>
<div></div>
{{#if logged_in}}
<script src="./js/logout.js"></script>
{{/if}}