<div class="container is-fluid">
  <div class="columns">
    <!-- Left column for card section -->
    <div class="column is-one-third">
      <h4 class="profile">Account settings</h4>
      <div class="card section">
        <!-- ... (rest of your HTML) ... -->
        <div class="tab-content">
          <div id="account-info">
            <div class="">
              <img class="is-rounded" src="http://placehold.it/300x225" alt />
              <p class="Name">Name Test</p>
              <div class="media-body">
                <label class="btn btn-primary">
                  Upload new photo
                  <input type="file" class="account-settings-fileInput" />
                </label>
                <button type="button" class="button is-link">Reset</button>
                <div class="section">
                    <div>
                        <label class="field"></label>
                        <div></div>
                        <textarea class="textarea" id="project-dec" name="project-desc"></textarea>
                    </div>
                </div>
                 <div class="section">
                    <div>
                        <label class="field"></label>
                        <div></div>
                        <textarea class="textarea" id="project-dec" name="project-desc"></textarea>
                    </div>
                </div>
                 <div class="section">
                    <div>
                        <label class="field"></label>
                        <div></div>
                        <textarea class="textarea" id="project-dec" name="project-desc"></textarea>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Right column for search-section -->
    <div class="column">
      <div class="section search-section">
      </div>
      <div class="search-container">
        <input type="text" class="search-input" id="searchInput" placeholder="Search...">
        <button class="search-button" onclick="search()">Search</button>
      </div>

      <div class="history-container">
        <h3>Search History</h3>
        <ul id="historyList"></ul>
      </div>
    </div>
       <div class="column">
       <div class="column">
      <div class="section search-section">
        <h3>Search Results</h3>
        <ul id="searchResults">
          <li>Result 1</li>
          <li>Result 2</li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
