<div class="topInfo">
  <div class="container">
    <h1 class="is-size-3 has-text-black has-text-weight-bold">Welcome to the website</h1>
    <p class="is-size-3 has-text-black has-text-weight-bold">JUST DO IT</p>
    <div class="container">
      <form class="column is-offset-one-quarter is-half signup-form">
        <form>
          <div class="field">
            <label class="label has-text-black has-text-weight-bold" for="first_name">First Name</label>
            <div class="control">
              <input class="input" type="text" name="first_name" id="first_name" placeholder="First Name" />
            </div>
          </div>

          <div class="field">
            <label class="label has-text-black has-text-weight-bold" for="last_name">Last Name</label>
            <div class="control">
              <input class="input" type="text" name="last_name" id="last_name" placeholder="Last Name" />
            </div>
          </div>

          <div class="field">
            <label class="label has-text-black has-text-weight-bold" for="email">Email Address</label>
            <div class="control">
              <input class="input" type="text" name="email" id="email" placeholder="Email Address" />
            </div>
          </div>

          <div class="field">
            <label class="label has-text-black has-text-weight-bold" for="password">Password</label>
            <div class="control">
              <input class="input" type="password" name="password" id="password" />
            </div>
          </div>

          <div class="field">
            <form class="control signup-form">
              <button class="button is-primary" id="signUpButton" type="submit">Signup</button>
            </form>
          </div>
        </form>
      </fo>
    </div>
  </div>
</div>
<script src="./js/signUp.js"></script>