<link rel="stylesheet" href="/css/profile.css">
<div class="container">
    <div class="columns">
        <!-- Left column for card section -->
        <div class="column is-one-third">
            <h4 class="profile">Account settings</h4>
            <div class="card section">
                <!-- ... (rest of your HTML) ... -->
                <div class="tab-content">
                    <div id="account-info">
                        <div class="section">
                            <img class="is-rounded" src="http://placehold.it/300x225" alt />
                            <p class="Name">Name Test</p>
                            <div class="media-body">
                                <label class="btn btn-primary">
                                    Upload new photo
                                    <input type="file" class="account-settings-fileInput" />
                                </label>
                                <button type="button" class="button is-link">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- middle column for search-section -->
    <div class="section" id="dropdownSection">
        <select class="dropdown" id="dropdown">
            <option value="waist">Waist</option>
            <option value="upperLegs">Upper Legs</option>
            <option value="upperArms">Upper Arms</option>
            <option value="shoulder">Shoulder</option>
            <option value="neck">Neck</option>
            <option value="lowerLegs">Lower Legs</option>
            <option value="lowerArms">Lower Arms</option>
            <option value="chest">Chest</option>
            <option value="back">Back</option>
            <option value="cardio">Cardio</option>
        </select>
        <div class="middle-column">
            <ul id="exerciseList">
            </ul>
        </div>
    </div>
    <!-- right column for search-section -->
    <div class="column">
        <div class="column">
            <div class="section middle-column" id="listSection">
                <p>Saved exercises</p>
                <ul id="workoutList">
                </ul>
            </div>
        </div>
    </div>
</div>
</div>