body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: beige;
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 200%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container */
  right: 50%;
  padding: 5%;
}

.section {
  flex: 1;
  overflow: hidden;
  padding: 10px;
}
.name {
  font-size: 2vh;
}

.profile-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.dropdown {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 5px;
  overflow-y: auto;
}

li {
  margin-bottom: 5px;
  padding: 5px;
}
li p{
  text-align: center;
}
.middle-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-y: auto; 
}